$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$primary-color: 'dodgerblue';
// $secondary-color: ''

$phonesAndSmaller: '575.98px';
$tabletsAndSmaller: '991.98px';
$DesktopsAndSmaller: '1199.98px';
