@import 'variables.scss';

body {
    font-family: $primary-font;
    background-color: #1d1d1d;
    color: white;
}

.rootContainer {
    height: 100vh;
}

.lobbyContainer {
    ul {
        list-style-type: none;
        margin-top: 2em;
        padding-left: 0.5em;
    }

    .logs {
        > .logsBox {
            width: 100%;
        }
    }
}

.waitingForContainer {
    display: none !important;
    height: 100vh;
}

.baseTimer {
    position: relative;
    height: 7rem;
    width: 7rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;

    & .baseTimerSVG {
        transform: scaleX(-1);

        & .baseTimerCircle {
            fill: none;
            stroke: none;

            & .baseTimerPathElapsed {
                stroke-width: 6px;
                stroke: #4e4e4e;
            }

            & .baseTimerPathRemaining {
                stroke: dodgerblue;
                stroke-width: 6px;
                stroke-linecap: round;
                transition: 1s linear all;
                transform: rotate(90deg);
                transform-origin: center;
            }
        }
    }

    .baseTimerLabel {
        position: absolute;

        /* Size should match the parent container */
        width: 7rem;
        height: 7rem;

        /* Keep the label aligned to the top */
        top: 0;

        /* Create a flexible box that centers content vertically and horizontally */
        display: flex;
        align-items: center;
        justify-content: center;

        /* Sort of an arbitrary number; adjust to your liking */
        font-size: 2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
