$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Raleway', sans-serif;

body {
    font-family: $primary-font;    
}

.rootContainer {
    height: 100vh;
}

.usernameForm {
    height: 100vh;
    margin-top: -5em;

    h1 {
        font-family: $primary-font;
        color: dodgerblue;
        font-size: 10em;
        margin-bottom: 0.2em;
    }

    #usernameField {
        text-align: center;
        max-width: 40%;
        min-width: 300px;
    }
}

.lobbyContainer {
    display: none;

    ul {
        list-style-type: none;
        margin-top: 2em;
        padding-left: 0.5em;
    }

    & > .startGameButton {
        display: none;
    }

    .logs {
        display: none;

        > .logsBox {
            width: 100%;
        }
    }
}

.questionContainer {
    display: none;

    .madeUpChoiceForm {
        textarea {
            max-width: 700px;
        }
    }


    .skipQuestionRow {
        .skipQuestionButton {
            white-space: normal;

            .skipQuestionSpinner {
                display: none;
            }

            .skipQuestionCheck {
                display: none;
            }
        }
        
        .timerText {
            display: none;
        }
    }
}

.choicesContainer {
    display: none;

    .choiceButton {
        min-width: 30%;
    }
}

.waitingForContainer {
    display: none !important;
    height: 100vh;
}

.resultsContainer {
    display: none;
    
    .choiceRow {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

        & > .playerAnswersCol {
            text-align: right;

            & > p {
                margin-bottom: 0;
            }
        }

        .choiceCard > button {
            min-width: 30%;
        }
    }

    .roundScores {
        display: none;
    }
}

.bottomContainer {
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
