
.rootContainer {
    height: 100vh;
}

.usernameForm {
    height: 100vh;
}

.lobby {
    display: none;

    & > .startGameButton {
        display: none;
    }
}

.questionContainer {
    display: none;
}

.choicesContainer {
    display: none;

    .choiceButton {
        min-width: 30%;
    }
}

.resultsContainer {
    display: none;
    
    .choiceRow {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

        & > .playerAnswersCol {
            text-align: right;

            & > p {
                margin-bottom: 0;
            }
        }

        .choiceCard > button {
            min-width: 30%;
        }
    }

    .scoreBoard {
        display: none;
    }

    
}

.givenChoiceSpinner {
    display: none;
}

.logs {
    display: none;

    > .logsBox {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
