.lobby {
  display: none; }

.lobby > .startGameButton {
  display: none; }

.questionContainer {
  display: none; }

.choicesContainer {
  display: none; }

.resultsContainer {
  display: none; }

.resultsContainer .playerAnswersCol {
  text-align: right; }

.resultsContainer .playerAnswersCol > p {
  margin-bottom: 0; }

.givenChoiceSpinner {
  display: none; }

.logs {
  display: none; }

.logs > .logsBox {
  width: 100%; }
