.rootContainer {
  height: 100vh; }

.usernameForm {
  height: 100vh; }

.lobby {
  display: none; }

.lobby > .startGameButton {
  display: none; }

.questionContainer {
  display: none; }

.choicesContainer {
  display: none; }

.choicesContainer .choiceButton {
  min-width: 30%; }

.resultsContainer {
  display: none; }

.resultsContainer .choiceRow {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.resultsContainer .choiceRow > .playerAnswersCol {
  text-align: right; }

.resultsContainer .choiceRow > .playerAnswersCol > p {
  margin-bottom: 0; }

.resultsContainer .choiceRow .choiceCard > button {
  min-width: 30%; }

.resultsContainer .scoreBoard {
  display: none; }

.givenChoiceSpinner {
  display: none; }

.logs {
  display: none; }

.logs > .logsBox {
  width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }
