.lobby {
    display: none;

    & > .startGameButton {
        display: none;
    }
}

.questionContainer {
    display: none;
}

.choicesContainer {
    display: none;
}

.resultsContainer {
    display: none;

    .playerAnswersCol {
        text-align: right;

        & > p {
            margin-bottom: 0;
        }
    }
}

.givenChoiceSpinner {
    display: none;
}

.logs {
    display: none;

    > .logsBox {
        width: 100%;
    } 
}