body {
  font-family: "Oswald", sans-serif; }

.rootContainer {
  height: 100vh; }

.usernameForm {
  height: 100vh;
  margin-top: -5em; }

.usernameForm h1 {
  font-family: "Oswald", sans-serif;
  color: dodgerblue;
  font-size: 10em;
  margin-bottom: 0.2em; }

.usernameForm .usernameField {
  text-align: center;
  max-width: 40%;
  min-width: 300px; }

.lobbyContainer ul {
  list-style-type: none;
  margin-top: 2em;
  padding-left: 0.5em; }

.lobbyContainer .logs > .logsBox {
  width: 100%; }

.questionContainer .madeUpChoiceForm {
  display: flex; }

.questionContainer .madeUpChoiceForm textarea {
  min-width: 100%;
  max-width: 700px; }

.questionContainer .skipQuestionRow .skipQuestionButton {
  white-space: normal; }

.choicesContainer .choiceButton {
  min-width: 30%; }

.waitingForContainer {
  display: none !important;
  height: 100vh; }

.resultsContainer .choiceRow {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.resultsContainer .choiceRow > .playerAnswersCol {
  text-align: right; }

.resultsContainer .choiceRow > .playerAnswersCol > p {
  margin-bottom: 0; }

.resultsContainer .choiceRow .choiceCard > button {
  min-width: 30%; }

.baseTimer {
  position: relative;
  height: 7rem;
  width: 7rem;
  left: 50%;
  transform: translateX(-50%); }

.baseTimerCircle {
  fill: none;
  stroke: none; }

.baseTimerPathElapsed {
  stroke-width: 4px;
  stroke: #4e4e4e; }

.baseTimerLabel {
  position: absolute;
  /* Size should match the parent container */
  width: 7rem;
  height: 7rem;
  /* Keep the label aligned to the top */
  top: 0;
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 2rem; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }
