$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Raleway', sans-serif;

body {
    font-family: $primary-font;
}

.rootContainer {
    height: 100vh;
}

.usernameForm {
    height: 100vh;
    margin-top: -5em;

    h1 {
        font-family: $primary-font;
        color: dodgerblue;
        font-size: 10em;
        margin-bottom: 0.2em;
    }

    .usernameField {
        text-align: center;
        max-width: 40%;
        min-width: 300px;
    }
}

.lobbyContainer {
    ul {
        list-style-type: none;
        margin-top: 2em;
        padding-left: 0.5em;
    }

    .logs {
        > .logsBox {
            width: 100%;
        }
    }
}

.questionContainer {
    .madeUpChoiceForm {
        display: flex;
        textarea {
            min-width: 100%;
            max-width: 700px;
        }
    }

    .skipQuestionRow {
        .skipQuestionButton {
            white-space: normal;
        }
    }
}

.choicesContainer {
    .choiceButton {
        min-width: 30%;
    }
}

.waitingForContainer {
    display: none !important;
    height: 100vh;
}

.resultsContainer {
    .choiceRow {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

        & > .playerAnswersCol {
            text-align: right;

            & > p {
                margin-bottom: 0;
            }
        }

        .choiceCard > button {
            min-width: 30%;
        }
    }
}

.baseTimer {
    position: relative;
    height: 7rem;
    width: 7rem;
    left: 50%;
    transform: translateX(-50%);

    & .baseTimerSVG {
        transform: scaleX(-1);

        & .baseTimerCircle {
            fill: none;
            stroke: none;

            & .baseTimerPathElapsed {
                stroke-width: 6px;
                stroke: #4e4e4e;
            }

            & .baseTimerPathRemaining {
                stroke: dodgerblue;
                stroke-width: 6px;
                stroke-linecap: round;
                transition: 1s linear all;
                transform: rotate(90deg);
                transform-origin: center;
            }
        }
    }

    .baseTimerLabel {
        position: absolute;

        /* Size should match the parent container */
        width: 7rem;
        height: 7rem;

        /* Keep the label aligned to the top */
        top: 0;

        /* Create a flexible box that centers content vertically and horizontally */
        display: flex;
        align-items: center;
        justify-content: center;

        /* Sort of an arbitrary number; adjust to your liking */
        font-size: 2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
